body {
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

#left {
	flex: 4;
	background-color: #000000;
}

#right {
	flex: 1;
	background-color: #ffffff;
}

#map {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0px;
	padding: 0px;
}

button {
    width: 90%;
    height: 40px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}