:root {
	--white: #f0f0f0;
	--blue: #202f40;
	--yellow: #ffbf40;
	--orange: #f57a3c;
	--red: #eb3539;
	--black: #121212;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: var(--blue);
	color: var(--white);
}

header {
	text-align: center;
	padding: 20px;
	font-size: 2em;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button {
	background-color: var(--yellow);
	color: var(--white);
	border: none;
	padding: 15px 30px;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	width: 80%;
	height: 6vh;
	margin: 10px;
}

#startGameButton {
	background-color: var(--orange);
}

#nameInput {
	padding: 10px;
	font-size: 1em;
	border: 2px solid var(--white);
	border-radius: 5px;
	margin: 10px;
	width: 80%;
	box-sizing: border-box;
	height: 6vh;
	display: flex;
	align-items: center;
}

input {
    outline: none;
    background-color: var(--blue);
    box-shadow: none;
    color: var(--white);
    border: none;
    font-size: 1.4em;
    width: 100%;
}

label {
    font-size: 1.4em;
}