:root {
	--white: #f0f0f0;
	--blue: #202f40;
	--yellow: #ffbf40;
	--orange: #f57a3c;
	--red: #eb3539;
	--black: #121212;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: var(--blue);
	color: var(--white);
}

header {
	text-align: center;
	padding: 20px;
	font-size: 2em;
}

main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	columns: 2;
}

#leftPanel,
#rightPanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#leftPanel {
	width: 75%;
}

#rightPanel {
	width: 25%;
}

.icon {
	width: 10vw;
	height: 10vh;
	margin: 10px;
	object-fit: contain;
	background-color: transparent;
}

#rightPanel button {
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	border: transparent 5px solid;
}

#rightPanel button:hover {
	border: #121212 5px solid;
}

#leftPanel button {
    background-color: var(--yellow);
    color: var(--black);
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 80%;
    height: 6vh;
    margin: 10px;
}