:root {
	--white: #f0f0f0;
	--blue: #202f40;
	--yellow: #ffbf40;
	--orange: #f57a3c;
	--red: #eb3539;
	--black: #121212;
}

html,
body,
main {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#map {
	width: 100vw;
	height: 100vh;
	border: none;
	margin: 0px;
	padding: 0px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 25vh;
	background-color: var(--blue);
	color: var(--white);
	font-family: Arial, sans-serif;
	z-index: 1000;
	display: flex;
}

#raiseLowerFooterButton {
	margin: auto;
	padding: 10px 20px;
	font-size: 16px;
	background-color: var(--yellow);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4vh;
}

#footerContent {
	margin: auto;
	text-align: center;
	display: flex;

	justify-content: space-between;
	width: 100%;
}

#footerContent button {
	font-size: 16px;
	background-color: var(--orange);
	border-radius: 5px;

	width: 25vw;
	height: 21vh;

	margin-top: 4vh;
}

#footerContent button #leftButton {
	align-self: flex-start;
}

#footerContent button #rightButton {
	align-self: flex-end;
}
