:root {
	--white: #f0f0f0;
	--blue: #202f40;
	--yellow: #ffbf40;
	--orange: #f57a3c;
	--red: #eb3539;
	--black: #121212;
}

html, body, main {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#map {
	width: 100vw;
	height: 100vh;
	border: none;
	margin: 0px;
	padding: 0px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 25vh;
    background-color: var(--blue);
    color: var(--white);
    font-family: Arial, sans-serif;
    z-index: 1000;
    display: flex;
}

